*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    width: 1000px;
    height: 1000px;
    background-color: bisque;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px;
    padding-left: 50px;
    padding-top: 50px;
}
.white{
height: 100px;
width: 100px;
background-color: white;
}
.black{
    height: 100px;
    width: 100px;
    background-color: rgb(61, 57, 57);
}