*{
    margin: 0;
    padding: 0;
}
.first{
    height: 100vh;
    width:10vw;
    background-color: blue;
    margin-left: 30vw;
    position: absolute;
}
.second{
    width: 100vw;
    margin-top: 30vh;
    height: 10vw;
    background-color: blue;
    position: absolute;
}