.card{
    background-color: aqua;
    border: 5px greenyellow solid;
    padding: 10px;
    margin: 10px;
    height: 20vh;
    width: 30vw;
    margin-left:35vw;
    margin-top: 20vh;
}
h2{
    color: coral;
    text-align: center;
}
.card:hover h3{
    color: fuchsia;
    background-color: beige;
}